.title {

    margin-top: 200px;
    font-family: Airfly;
    text-align: center;
    font-size: 150px;
}
.menu2 {
    margin-top: 100px;
    text-align: center;
}
.voter {
    font-family: Airfly;
    text-align: center;
    width: 350px;
    font-size: 50px;
}
